<!doctype html>
<html lang="en">
  <head>
    <title>Random Ice Breakers!</title>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to Random Ice Breakers!</h1>
    <div class="text-center">
        <p>Your <strong>Ice Breaker</strong> for <strong>today</strong> is:</p>
        <h1 class="display-3"><%= random_tip %></h1>
    </blockquote>

  </body>
</html>










