<!doctype html>
<html lang="en">
  <head>
    <title>Random Icebreakers!</title>
  </head>
  <body>
    <div class="container">
    <div class="text-center">
        <h4>The <strong>icebreaker</strong>  for <strong>today's</strong> coffee break is: </h4>
        <h1 class="display-3"><strong><%= random_tip %></strong></h1>
    </blockquote>
  </body>
</html>










