<!doctype html>
<html lang="en">
  <head>
    <title>Random Icebreakers!</title>
  </head>
  <body>
    <div class="container">
    <div class="text-center">
        <h4>The <strong>icebreaker</strong>  for <strong>today's</strong> coffee break is: </h4>
        <h3 class="display-3"><strong><%= @piqued_tip %></strong></h3>
    </blockquote>
    <div id="generate">
      <h3><strong><%= link_to "Generate New Ice Breakers", root_path %></strong></h3>
    </div>
  </body>
</html>










